$card-bg: black;
$body-bg: black;
$body-color: white;

html {
  height: 100vh;
}

body {
  height: auto;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.blueText {
  color: lightblue;
}

.cursorPointer {
  cursor: pointer;
}

@import "node_modules/bootstrap/scss/bootstrap.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
